/*--------RESET-------*/
body,div,dl,dt,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,from,fieldset,textarea,p,block
{
	padding:0;
	margin:0;
}	
/*body*/	
body
{
	background-color:rgb(237,237,237);
	font-family:"tahoma","Segoe Script",sans-serif;
	font-size:12px;
	
}
/*Page*/	
.wrapper
{
	width:937px;
	margin:auto;
	height: 96px;
}
/*Home Page*/	
.content
{
	width:100%;
	background-color:Powderblue;
	border:1px solid rgb(224,224,224);	
	float:left;
	margin-top:8px;
	margin-bottom:8px;
	min-height:400px;
	
}
/*menu*/	
.menu
{	
	background-color:rgb(60, 179, 113);
	font-family:"Segoe Script",sans-serif;
    width : 937px;
	margin-top:0px 0px 10px;
	padding:0px;
	height:100px;
	color:White;	
	font-size:25px;
	text-align:left;
	font-size: x-large;
	font-weight:bolder;

	
	
	

	
}
.navigation_first_item
{
	border-left:0px;

	
}
.navitem_s
{
	float:left;
	border-right:1px solid rgb(10,85,125);
	border-left:1px solid rgb(67,153,200);
	height:40px;
	background-color:rgb(14,79,114)
	
	
}
.menu ul li
{
	float:left;
	display:block;
	font-family:"Segoe Script",sans-serif;
	list-style:none;
	border-right:1px solid rgb(10,85,125);
	border-left:1px solid rgb(67,153,200);
	width: 155px;
}
.menu ul li.navigation_first_item:hover
{	
	
}
.menu ul li a
{
	font-size:13px;
	font-weight:bold;
	font-family:"Segoe Script",sans-serif;
	line-height:40px;
	padding:8px 20px;
	color:rgb(255,255,255);
	text-decoration:none;
	
}
.menu ul li:hover
{	
	background-color:rgb(14,79,114)	;
	font-family:"Segoe Script",sans-serif;
	border-right:1px solid rgb(14,89,130);
}
.button {
    border-style : none;
	border-color: inherit;
	border-width: medium;
	background-color: #4CAF50;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 2px 2px;
  	cursor: pointer;
    width:66%;
	height: 13px;
}


.clear
{
	clear:both;
	width: 889px;
	height: 64px;
}
/*Footer*/	
.footer
{	
	height:55px;
	background-color:rgb(60, 179, 113);
	color:rgb(243,246,243);
	width: 936px;
	text-align:center;
}
.footer h2
{
	padding:15px; 
	text-align:center;
	width: 902px;
	height: 22px;
}


.asp:TextBox
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;

}
.TextBox
{
  width: 130px;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
 
}


